body {
  background-color:#69a490;
}

div {
  background-color: #69a490;
  width: 300px;
  border: 5px #ffcc9d;
  padding: 50px;
  margin: auto;
  border-radius: 8px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #ffcc9d;
  color: #69a490;
  border-radius: 8px;
}
