body {
  background-color:#69a490;
}

h1 {
    text-align: center;
    color:#ffcc9d;
    font-size:80px;
    padding-top:100px;
}

.box {
padding: 1.5em 0;
				width: 28%;
				float: left;
				margin: 1%;
}

.login {
  background-color: #ffcc9d;
  border: none;
  color: #69a490;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  width: 30%;
}

.signup {
  background-color: #69a490;
  border: 2px solid #a1cfba;
  border: none;
  color: #a1cfba;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  width: 30%;
}
